rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /files/{id} {
      allow create: if true;
      allow update: if false;
    }
  }
}
